# dynamic.yaml

http:
  routers:
    # Chat service router - for request and response masking
    chat:
      rule: "Host(`chat.localhost`)"
      entryPoints:
        - web
      middlewares:
        - chat-modifier
      service: chat-service

  middlewares:
    # Chat service middleware - masks both request and response
    chat-modifier:
      plugin:
        modifier:
          ModifierHeader:
          # if x-api-key=sk-didin then change to Authorization: Bearer 
            Authorization : |
              [[ if eq (index .request.headers "x-api-key") "sk-didin" ]]
                Bearer sk-didin
              [[ else if eq (index .request.headers "x-api-key") "sk-didin-test" ]]
                Bearer sk-didin-test
              [[ else ]]
                Bearer sk-default
              [[ end ]]
          ModifierQuery: 
            Transform:
              # Transform ask_id parameter to question_id with context timestamp
              question_id: "ask_[[ .context.unixtime ]]"
          ModifierRequest: |
              {
                "question": "[[ .request.api.body.ask ]]",
                "timestamp": "[[ .context.unixtime ]]"
              }
          ModifierResponse:
            "200": |
              {
                "id": [[ .response.body.id ]],
                "answer": "[[ .request.api.body.ask ]]",
                "timestamp": [[ .request.modified.body.timestamp ]],
                "datas": [
                  [[ $dataList := .response.body.data_array_of_maps ]]
                  [[ $listLen := len $dataList ]]
                  [[ range $index, $element := $dataList ]]
                    [[ if $index ]], [[ end ]]{"[[ $element.key1 ]]" : "[[ $element.key2 ]]"}
                  [[ end ]]
                ]
              }

  services:
    chat-service:
      loadBalancer:
        servers:
          - url: "http://chat-service:3000"